{{- $taxo := "categories" -}}
{{- with .Param $taxo -}}
<div class="meta__item-categories meta__item">
	{{- partial "svg/category.svg" (dict "class" "meta__icon") -}}
	<span class="meta__text">
		{{- range $index, $category := . }}
			{{- $url := urls.Parse ($category | urlize) -}}
			{{- $path := $url.Path -}}
			{{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
				{{- if gt $index 0 }}, {{ end -}}
				{{- if in .Title "Entreprendre" }}
				<a class="meta__link entreprendre" href="{{ .RelPermalink }}" style="">{{ .Title }}</a>
				{{- else if in .Title "Développer" }}
				<a class="meta__link developper" href="{{ .RelPermalink }}" style="">{{ .Title }}</a>
				{{- else if in .Title "Comprendre" }}
				<a class="meta__link comprendre" href="{{ .RelPermalink }}" style="">{{ .Title }}</a>
				{{- else if in .Title "Co-concevoir" }}
				<a class="meta__link concevoir" href="{{ .RelPermalink }}" style="">{{ .Title }}</a>
				{{- else if in .Title "Exprimer" }}
				<a class="meta__link exprimer" href="{{ .RelPermalink }}" style="">{{ .Title }}</a>
				{{ end -}}			{{- end }}
		{{- end }}
	</span>
</div>
{{- end }}
